{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/chip/{{chip._id}}'>
    <fieldset>
        <legend>Edit chip log</legend>
        <!-- TITLE -->
        <p>
            <label for='chip-title'>Title</label><br>
            <input id='chip-title' type='text' name='title' value='{{ chip.title }}'/>
        </p>

        <!-- DESCRIPTION -->
        <p>
            <label for='description'>Description</label><br>
            <input id='description' type='text' name='description' value='{{ chip.description }}' />
        </p>

        <!-- VIDEO LINKS -->
        <p>
            <label for='url'>URL</label>
            <input type='url' name='url' />
        </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Playlist</button>
    </p>
</form>
{% endblock %}